html {
  font-family: "IBM Plex Sans", sans-serif;
}

.img {
  background-color: #ddd;
}

.panel {
  background-color: #efefef;
}

.card {
  background-color: #fff;
}

.nav {
  background-color: #ddd;
}

.push-logo {
  max-width: 200px;
}

@media only screen and (min-width: 76em) {
  .table-wrapper {
    overflow: visible;
  }

}
